<%= form_for(@event) do |f| %>

  <div class="col-sm-6 col-md-4">
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :datetime %>
      <p><%= f.datetime_select :datetime, class: 'form-control' %></p>
    </div>

    <div class="form-group">
      <%= f.label :event_money %>
      <%= f.text_field :event_money, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :status %>
      <%= f.check_box :status, {}, "true", "false" %>
    </div>

    <div class="actions">
      <%= render partial: 'events/flight_types_for_event_status' %>
      <p> </p>
      <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
      или <%= link_to 'вернуться', :back %>
    </div>
  </div>

<% end %>
